body {
  background-color: #333333;
  color: white;
  text-align: center;
  font-family: 'Keania One', cursive;
  text-transform: uppercase;
  padding: 4vw;
  overflow-x: hidden;
}

h1 {
  font-size: 6vw;
}

.scores {
  margin-bottom: 8vw;
}

.score {
  font-size: 6vw;
  font-family: 'Keania One', cursive;
  color: gold;
}

p {
  font-size: 4vw;
}

.tracking {
  font-family: 'Keania One', cursive;
  color: gold;
  position: relative;
  .own {
    font-size: 0.5em;
    position: absolute;
    top: -1em;
    right: 0;
  }
}
.fa-question-circle {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 3vw;
  opacity: 0.5;
  cursor: pointer;
}

.fa-chevron-up {
  position: absolute;
  bottom: 1vw;
  font-size: 16px;
  opacity: 0.5;
  cursor: pointer;
}

button:focus {outline:0;}