#scoreInput {
  height: 200px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;

  h1 {
    color: #333;
    font-size: 2vw;
  }
}

.btn2 {
  height: 42px;
  width: 42px;
  border-radius: 21px;
  margin: 0.5em;
  background-color: #333;
  border: none;

  &:hover {
    background-color: #333;
    opacity: 0.75;
  }

  &:active {
    background-color: #333;
    border: none;
  }

  &:visited {
    background-color: #333;
    border: none;
  }
}